*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

.gradle/
build/
*/build/

local.properties

*.log

captures/
.navigation/

*.iml
.idea/
workspace.xml
tasks.xml
gradle.xml
dictionaries
compiler.xml
assetWizardSettings.xml

.cxx/
.externalNativeBuild/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.jks
*.keystore